/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Style Definitions*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #100924;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Chakra Petch';
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.git-link {
  color: #E8B83D;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 30px 30px;
  background-color: #100924;
  border-bottom: 1px solid #e8b83d8a;
} 

.nav-links {
  
  list-style: none;
}

.nav-links li{
  display: inline-block; /* displays items horizontally */
  padding: 10px 50px;
} 

.nav-links li a {
  transition: all 0.3s ease 0s; /* Makes navigation to page smoother */
  text-decoration: none; /* Removes Underline from links */
  font-family: "Chakra Petch";
  color: #ffffff;
  font-size: 24px;
} 


.nav-links li a:hover{
  color: goldenrod
}

.navbar-spacer {
  width: 30%;
}

.nav-login {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  border-color: #E8B83D;
  text-decoration: none; /* Removes Underline from links */
  font-family: "Chakra Petch";
  color: #ffffff;
  font-size: 24px;
}

.nav-login:hover{
  color: #E8B83D
}