body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Chakra Petch', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root
{
  --bg:#100924;
  --bg-accent:#E8B83D;
  --text-color: white;
  --nav-size: 135px;
  --border: 1px solid #e8b83d8a;
  --border-radius: 8px;
  --speed: 500ms;
}

ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

a
{
  color: var(--text-color);
  text-decoration: none;
}

/* .navbar
{
  height:var(--nav-size);
  background-color: var(--bg);
  padding: 0 10rem;
  border-bottom: var(--border);
}

.navbar-nav
{
  max-width: 100%;
  height: 100%;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.nav-item
{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-text
{
  --button-size: calc(var(--nav-size) * .6);
  width: calc(var(--button-size) * 2);
  height: var(--button-size);
  
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  
  transition: filter 300ms;
}
.nav-button
{
  --button-size: calc(var(--nav-size) * .6);
  width: calc(var(--button-size) * 2);
  height: var(--button-size);

  border-radius: 10px;
  border-color:white;
  
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  
  transition: filter 300ms;
} */
