.dashboard
{
    height: 100vh;
    margin: auto;
    background-color: var(--bg);
    color: var(--text-color);
}

.dashboard-header
{
    text-align: center;
    font-size: 48px;
    margin-top: 0px;
    padding-top: 3rem;

    
}

.dashboard-container
{
    display: flex;
    justify-content: center;
}

.dashboard-layout
{
    /* background-color: green; */

    height: 950px;
    width: 1500px;
    
    flex-shrink: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: var(--bg-accent);
    font-weight: bold;
}

.dashboard-top-flexbox
{
    /* background-color: blueviolet; */

    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.dashboard-agent
{
    display: flex;

    background-color: var(--bg-container);
    height: 100%;
    width: 35%;
    border-radius: 10px;
    padding-left: 10px;
    
    flex-direction: column;

}
.dashboard-agent-scroll
{
    /* background-color: black; */
    width: 510px;
    color: var(--text-color);
}
.dashboard-agent-list
{   
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    border-radius: 10px;
    padding-left: 10px;
}

.dashboard-agent-list-container
{
    /* background-color: blueviolet; */
    background-color:var(--bg-container);
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 5px;
    border-radius: 10px;

    align-items: center;
    justify-content: left;
    border: var(--border);

}
.dashboard-agent-list-item-info-container
{
    display: flex;
    flex-direction: column;
}

/* .dashboard-agent-list-item-info-item
{
    /* background-color:cadetblue; */
    /* border: var(--border); 
    
} */

.agent-title
{
   font-size: 32px;
}

.agent-location
{
    font-size: 12px;
}

.agent-status
{
    font-size: 18px;
}
.dashboard-agent-list-item
{
    display: flex;
    flex-direction: row;
    
    margin: 10px;
    border-radius: 10px;
}

.agent-icon
{
    background-color:antiquewhite;
    
    height: 70px;
    width: 70px;

    border-radius: 10px;
    
    
}

.dashboard-map
{
    background-color: var(--bg-container);
    height: 100%;
    width: 62%;
    border-radius: 10px;
    padding-left: 10px;

}

.dashboard-bottom-flexbox
{
    /* background-color: blue; */

    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.dashboard-topics
{
    background-color:var(--bg-container);
    height: 100%;
    width: 25%;
    border-radius: 10px;
    padding-left: 10px;
}

.dashboard-messages
{
    background-color:var(--bg-container);
    
    height: 100%;
    width: 45%;
    border-radius: 10px;
    padding-left: 10px;
}

.dashboard-extra
{
    background-color:var(--bg-container);;

    height: 100%;
    width: 25%;
    border-radius: 10px;
    padding-left: 10px;
}