@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petch:wght@400;500&display=swap');

.documentation{
    min-height: 85vh;
    margin: auto;
    background-color: var(--bg);
    color: var(--text-color);
}

.documentation-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: 2rem;
    
}

.documentation h1{
    font-family: 'Chakra Petch';
}
.documentation h2{
    font-family: 'Chakra Petch';
}

.documentation h3{
    font-family: 'Raleway';
}

.documentation p li ul{
    font-family: 'Roboto';
}
