.myFleets-page
{
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--text-color);
    font-family: "Chakra Petch";
}

.myFleets-content
{
    display: flex;
    flex-direction: column;
}

.fleets-header
{
    display: flex;
    flex-direction: row;
    width: min(90rem, 70vw);
    
    text-align: left;
    font-size: clamp(1rem, 5vw, 2rem);
    
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.add-fleet{
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-color: transparent;
    border-color:var(--bg-accent);
    text-decoration: none; /* Removes Underline from links */
    font-family: "Chakra Petch";
    color: var(--text-color);
    border-radius: .5rem;
    padding: .2rem 1rem;
    font-size: clamp(.5rem , 2vw, 1.5rem);
}

.myFleets-container
{
    display: flex;
    justify-content: center; 
}

.myFleets-layout
{
    background-color:var(--bg-container);
    padding: 1.5rem;
    width: min(90rem, 70vw);
    border-radius: 20px;

    flex-shrink: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: var(--border-container);
    color: var(--text-color);
    font-weight: bold;
}



.fleet-scroll
{
    background-color: var(--bg-container);
    width: min(90rem, 70vw);
    border-radius: 10px;
}

.no-fleets
{   
    /* background-color: bisque; */
    justify-self: center;
    align-self: center;
}

.fleet-list
{   
    /* background-color:var(--bg-container); */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
}

.fleet-list-container
{
    /* background-color:var(--bg-container); */
    background-color:var(--bg-container);
    
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 10px;

    align-items: center;
    justify-content: left;
    border: var(--border);
}

.fleet-list-item
{
    display: flex;
    flex-direction: row;
    width: min(17rem, 13vw);
    margin: 5px;
    border-radius: 10px;
}
.fleetModImg
{
    width: min(30px, 10vw)
}

.fleet-title
{
    /* background-color:red; */
    font-size: clamp(1rem, 5vw, 2rem);
}

.spacer 
{
    /* background-color:red; */
    height: 75px;
    width: 900px;
}